body, 
#selector, 
.container, 
.navbar-inner {
    background-color: #ffffff !important;
} 

.navbar-static-top {
  position: static;
  margin-bottom: 0px;
  background-color: #C8102E !important;
  
}

.tab-above > .nav  > li[class=active] > a {background-color: #F1BE48; color: black}

.navbar-default.navbar-brand{
	color: #F1BE48 !important
}

.shiny-output-error-validation {
  color: red;
}